CHARSET "UTF-8";
body{
margin:0 auto;
padding:0;
font-size:small;
background:#fff;
}

section, article, aside, nav, header, footer, hgroup,li,ul{
display: block;
}

#site-box{
	margin: 0px auto;
	width:1000px;
}

#head{
	width:1000px;
	height:50px;
	margin-bottom:30px;
	padding:30px;
	font-size:17pt;
	color:#193316;
	border-bottom: 10px double #71e062;
}

#main{
	margin:0px auto;
	width:470px;

}


input[type="submit"] {
	position: relative;
	background-color: #009966;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #669966;
    font-size:18pt;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
input[type="submit"]:hover {
	top: -4px;
	box-shadow: 0 7px 0 #669966;
}
input[type="submit"]:active {
	top: 3px;
	box-shadow: none;
}