@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html{background:url(wallyellow.gif);
    height:120%;
    
}

#feedback-page{
    text-align:center;
}
@font-face{
font-family: 'Mamelon';
src: url("mamelon/Mamelon.otf");
}


#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color:rgba(133,194,255,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:100px;
    padding-bottom:75px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top:15px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:100;
    font-size: 12px;
    border-radius: 0;
    line-height: 15px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}
.sub{
    position:absolute;
    color:#fff;
    font-size:20px;
    margin: 0 auto;
    top:2%;
    left:39%;
    font-family: 'Mamelon';
    display: inline-block;
    
}
.subsub{
    position:relative;
    color:#fff;
    font-size:27px;
    margin: 0 auto;
    top:0%;
    left:6%;
    font-family: 'Mamelon';
    display: inline-block;
    word-wrap: break-word;
    
}
.title{
    position:absolute;
    background:#f4b3c2;
    color:#a25768;
    font-size:20px;
    margin: 0 auto;
    top:2%;
    left:39%;
    border:2px dashed #e8ecef;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #f4b3c2;
    font-family: 'Mamelon';
    display: inline-block;
    
   
    
}
input[type="submit"] {
    font-size:13px;
    float:left;
    position: relative;
    display: inline-block;
    padding: .5em 3em;
    background:transparent;
    background-color:#85ffd0;
    border-style: none;
    border-radius: 4px;
    color: #fff;
    font-family: 'Mamelon';
    text-decoration: none;
    text-align: center;
}

#subsubmit {
    font-size:13px;
    top:80%;
    left:33%;
    position: absolute;
    display: inline-block;
    padding: .5em 3em;
    background:transparent;
    background-color:#85ffd0;
    border-style: none;
    border-radius: 4px;
    color: #fff;
    font-family: 'Mamelon';
    text-decoration: none;
    text-align: center;
}


input[type="reset"] {
    font-size:13px;
    float:left;
    position: relative;
    display: inline-block;
    padding: .5em 3em;
    background:transparent;
    background-color:#85ffd0;
    border-style: none;
    border-radius: 4px;
    color: #fff;
    font-family: 'Mamelon';
    text-decoration: none;
    text-align: center;
}
input[type="reset"]:after {
    float:left;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    content: '';
    border: 2px dashed #fff;
    border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
}

input[type="button"] {
    font-size:13px;
    float:left;
    position: relative;
    display: inline-block;
    padding: .5em 3em;
    background:transparent;
    background-color:#85ffd0;
    border-style: none;
    border-radius: 4px;
    color: #fff;
    font-family: 'Mamelon';
    text-decoration: none;
    text-align: center;
}

/* SelectBox-------------------------------*/
div { margin: 15px; }
/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection1 select {
    font-family: 'Mamelon';
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 13px;
  
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #85c2ff;
    -webkit-appearance: none;
}

#mainselection1 {
    
    overflow:hidden;
    width:350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    background: #85c2ff url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
#mainselection2 select {
    font-family: 'Mamelon';
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 13px;
    
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #85c2ff;
    -webkit-appearance: none;
}

#mainselection2 {
    overflow:hidden;
    width:350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    
    background: #85c2ff url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* Icons ---------------------------------- */
#p_name{
    background-image: url(icons/adult.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border: 3px solid #ccc;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
    
}

#c_name{
    background-image: url(icons/kids.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border: 3px solid #ccc;
    border-radius: 5em .7em 4em .7em/.7em 3em .7em 3em;
}
#email{
    background-image: url(icons/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border: 3px solid #ccc;
    border-radius: 8em .7em 2em .7em/.7em 2em .7em 3em;
}
#postalcode{
    background-image: url(icons/post.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border: 3px solid #ccc;
    border-radius: 8em .7em 2em .7em/.7em 2em .7em 3em;
}


#address{
    background-image: url(icons/home.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border: 3px solid #ccc;
    border-radius: 8em .7em 2em .7em/.7em 2em .7em 3em;
}


textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}



input[type="button"]:hover, input[type="button"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus,
input[type="submit"]:hover, input[type="submit"]:focus {
    background-color:#85c2ff;
}




@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 80%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}