@CHARSET "UTF-8";

body{
margin:0;
padding:0;
font-size:small;
background:#fff;
}

section, article, aside, nav, header, footer, hgroup,li,ul{
display: block;
}

#site-box{
	width:1000px;
	margin: 0px auto;

}
#head{
	width:1000px;
	height:50px;
	margin-bottom:30px;
	padding:30px;
	font-size:17pt;
	color:#193316;
	border-bottom: 10px double #71e062;

}

#main{
	margin:0px auto;
	width:700px;

}

#foot{

   width: 700px;
   text-align: center;
}